body{
  margin: 0px;
  padding: 0px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.landingpage{
  height: 600px;
  background-image: url("/Assets/backgrounds/landing.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
  padding-top: 30px;
  font-size: 24px;
  text-transform: capitalize;
}
.options{
  position: absolute;
  left: 0px;
  top: 5px;
  height: 100px;
}
.category{
  height: 200px;
  
}
.time{
  width: 25%;
  float: left;
  height: 100%;
}
.hour{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  background-color: #f5f5f5;
}
.party{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  background-color: rgb(255, 99, 71);
}
.breakfast{
  float: left;
  width: 25%;
  height: 100%;
  background-image: url("/Assets/foodtop/breakfast.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
.lunch{
  float: left;
  width: 25%;
  height: 100%;
  background-image: url("/Assets/foodtop/lunch.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
.dinner{
  float: left;
  width: 25%;
  height: 100%;
  background-image: url("/Assets/foodtop/dinner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
.fastfood{
  height: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.eat{
  float: left;
  border: 15px solid gainsboro;
  padding: 10px;
  height: 50%;
  width:min-content;
  margin: 20px;
  box-shadow: 0 px 0px 20px gray;
 
}
.drinks{
  height: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}
.straw{
  float: left;
  border: 15px solid gainsboro;
  padding: 10px;
  margin: 20px;
}
.combination{
  background-image: url(/Assets/backgrounds/foodsBg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}
table{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.selectmenu{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  padding: 40px;
}